* {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4n0qyriQwlOrhSvowK_l521wRZWMf6.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html, body {
  background: #f8f6ef;
}

body {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  letter-spacing: 0.01rem;
}

.social-links {
  margin: 1.5rem 0 2.8rem;
  display: flex;
  gap: 1rem;
}

.social-links a {
  width: 2rem;
  color: #000000;
}

#greeting {
  display: inline-block;
  height: 100%;
}

#greeting:empty::before {
  content: '\200b';
}

#greeting.show-cursor {
  border-right: 1px solid #000000;
}

#container {
  overflow: auto;
  width: 100%;
  max-width: 48rem;
  margin: 1.6rem auto 6rem;
  padding: 0 1rem;
}

main {
  margin: 0 0 2.8rem;
}

figure {
  margin: 3rem auto;
  width: 100%;
  max-width: 36rem;
  text-align: center;
}

figure img {
  display: inline-block;
  max-width: 100%;
}

figcaption {
  margin: 0.8rem 0;
  text-align: center;
  color: #6e6e6e;
  font-size: 0.94rem;
  font-style: italic;
}

aside {
  border-top: 1px dotted #a7a7a7;
  border-bottom: 1px dotted #a7a7a7;
  padding: 1rem 1rem 0;
}

pre {
  overflow-x: auto;
  background: #e7e7e7;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #c2c2c2;
}

pre > code {
  border: none;
}

p sup a {
  border: none;
}

code {
  background: #e7e7e7;
  padding: 0 0.25rem;
  border-radius: 0.375rem;
  border: 1px solid #c2c2c2;
  white-space: pre;
}

code.block {
  display: block;
  padding: 1rem;
  white-space: normal;
}

header {
  position: relative;
  overflow: auto;
  margin: 0 0 2rem;
}

header .links {
  position: absolute;
  top: 0;
  right: 0;
}

h1 {
  font-weight: 300;
  margin: 3rem 0 0.8rem;
}

h2 {
  margin: 2.2rem 0 0.8rem;
}

.date {
  margin: 0;
  color: #6e6e6e;
}

p {
  margin: 1.2rem 0;
  line-height: 1.64rem;
}

p a {
  border-bottom: 1px dotted;
  color: #0000dd;
}

p a:visited {
  color: #9900aa;
}

a {
  text-decoration: none;
}

hr {
  margin: 3.2rem 0;
  border: none;
  height: 1px;
  background: #d2d2d2;
}

.home {
  font-size: 0.94rem;
  color: #0000aa;
}

.articles {
  list-style-type: '>';
  margin: 0.8rem 0 0 1.6rem;
}

.articles li {
  margin: 0.8rem 0 0;
  padding: 0 0 0 0.6rem;
}

.articles .date {
  font-size: 0.88rem;
}

ul {
  margin: 0 2rem;
}

ul li {
  margin: 0.6rem 0;
}

strong {
  font-weight: bold;
}

.comments {
  margin: 0 0 2.4rem;
}
