html {
  font-size: 120%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.2rem;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  line-height: 1.5rem;
}

h1 {
  font-size: 1.6rem;
  margin: 0 0 1rem 0;
}

h2 {
  font-size: 1.4rem;
  margin: 0 0 1.8rem 0;
}
