* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font-weight: 300;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

html, body {
  background: rgb(248, 246, 239);
}

body {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

  letter-spacing: 0.01rem;
}

strong {
  font-weight: 600;
}

#container {
  margin: 1.6rem auto 6rem;
  padding: 0 1rem;
  max-width: 44rem;

  header {
    padding: 0 0 1rem;

    text-align: right;
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
  }

  footer {
    padding: 2rem 0;
  }
}

article {
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 2rem;
  }

  h2 {
    margin: 2.6rem 0 0;

    font-size: 1.65rem;
  }

  .date {
    margin: 0.6rem 0 1.8rem;

    opacity: 0.6;
  }

  p {
    margin: 1.2rem 0 0;
  }

  a {
    text-decoration: underline dotted;
    text-underline-offset: 0.1em;
  }

  img, video {
    max-width: 100%;
  }

  pre {
    margin: 1rem 0 0;
  }

  ul {
    margin: 1rem 0 0 2rem;

    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    list-style-type: disc;
  }

  aside {
    margin: 1rem 0 0;

    padding: 1rem;

    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;

    background: #eeeeeeee;
  }
}

p {
  line-height: 1.72em;
}

figure {
  margin: 1rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  figcaption {
    font-style: italic;
  }
}

kbd {
  padding: 0.2rem 0.4rem;

  background: #fcf0ca;

  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

pre {
  padding: 1rem;

  border: 1px solid #ccc;
  border-radius: 0.5rem;

  font-size: 0.88em;

  overflow-x: auto;

  > code {
    background: none;
    border: none;
    padding: 0;
  }
}

code {
  padding: 0 0.2rem;

  background: #fcf0ca;

  border: 1px solid #ccc;
  border-radius: 0.3rem;

  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.footnotes {
  margin: 4rem 0 0;
  padding: 0 0 0 1rem;

  border-top: 1px dotted #999;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.katex-display {
  padding: 1rem 0 2rem;

  overflow-x: auto;
}
